/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}


@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
      
      body {
        font-family: 'Lato', Arial, sans-serif;
/*         text-align: center; */
        margin: 0px;
        width: 100%;
        height: 100%;
      }

      html { 
        background: url(images/catsbig150dpi.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;      
        }
        
<!--[if IE]>
      img.bg {
      	/* Set rules to fill background */
      	min-height: 100%;
      	min-width: 1024px;
      	
      	/* Set up proportionate scaling */
      	width: 100%;
      	height: auto;
      	
      	/* Set up positioning */
      	position: fixed;
      	top: 0;
      	left: 0;
      }
      
      @media screen and (max-width: 1024px) { /* Specific to this particular image */
      	img.bg {
      		left: 50%;
      		margin-left: -512px;   /* 50% */
      	}
      }
<!--[end if IE]>
    
/******************
Site Title
******************/

    div#title {
    display: block;
    height: auto;
    width: auto\9; /* ie8 */
    text-align: center;
    } 
    
    .title img {
      text-align: center;
      display: center;
      display: middle;
    }
      
/******************
Main Links
******************/  

    #wrapper {
       position:fixed;
       left:0px;
       bottom:0px;
       width:100%;
       margin-left: auto;
       margin-right: auto;
       }
       
    #linkcloud { 
      position: relative;
      float: left;
      left: 57%;
      bottom: 100px;
      }
      
    .link {
      float: left;
      position: relative;
      left: -50%;
    }
    
    #linkcloud a {
      display: block;
      left: -50%;
      position: relative;
      height: 140px;
      width: 140px;
      margin: 3px;
    }
  
    #linkcloud a img {
      position: absolute;
      left:0;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
      
    }
  
    #linkcloud a img.bottom {
      opacity: 0.75;
    }
    
    #linkcloud a img.top:hover {
      opacity: 0;
    }
    
/******************
Contact Links
******************/
      
      div#contactcloud {
        text-transform: uppercase;                
        margin-top: 60px;
        height: auto;
        font-size: 1.1em;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        vertical-align: top;
        
/* BROWSER-COMPATIBLE GRADIENTS */
        background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(255,255,255,0.4) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(255,255,255,0.4))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(255,255,255,0.4) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(255,255,255,0.4) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(255,255,255,0.4) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(255,255,255,0.4) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#66ffffff',GradientType=0 ); /* IE6-9 */      
/*  BROWSER-COMPATIBLE GRADIENTS */
      }

      #contactcloud a {
        color: #62d2d3;
        text-decoration: none;
        font-weight: 100;
        display: block;
      }
      
      #contactcloud p {
        color: #62d2d3;
      }
      
      .row-fluid {
        margin-left: auto;
        margin-right: auto;
      }
      
      .span5, .span2 {
        display: inline-block;
        vertical-align: top;
        margin: 10px 2px;
      }
      
      .span2 {
        width: 47px;
      }
      
      #licensing {
        text-align: right;
        display: block;
      }
      
      #contact {
        text-align: left;
        display: block;
      }     
      
      .bold {
        font-weight: 500;
      }
      
      #footer {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }

    
    /* IE 6 */
    * html #footer {
       position:absolute;
       top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
    }
